.features-heading {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    margin-bottom: 8px;
}

.icon-box {
    display: none;
}

.features-list {
    display: flex;
    flex-direction: column;
    gap: 72px;
}

.features-text {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

@media screen and (min-width: 768px) {
    .features-list {
        flex-direction: row;
        flex-wrap: wrap;
        gap: 72px 24px;
    }

    .features-item {
        width: calc((100% - 24px) / 2);
    }

    .features-heading {
        text-align: left;
        font-size: 36px;
    }
}

@media screen and (min-width: 1158px) {
    .icon-box {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: rgba(244, 244, 253, 1);
        border: 1px solid #8E8F99;
        border-radius: 4px;
        width: 264px;
        height: 112px;
        margin-bottom: 8px;
    }

    .features-list {
        flex-wrap: nowrap;
        gap: 24px;
    }

    .features-item {
        width: 264px;
    }

    .features-heading {
        font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
    }

    .features-text {
        font-weight: 400;
    }
}