.features-heading {
    font-weight: 500;
    font-style: normal;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2E2F42;
    text-align: left;
}
.features-text {
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: left;
    margin-top: 8px;
}

.features-list {
    display: flex;
    flex-direction: row;
    gap: 24px;
}

.features-item {
    width: calc((100% - 72px) / 4);
}

.icon-box {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(244, 244, 253, 1);
    border: 1px solid #8E8F99;
    border-radius: 4px;
    width: 264px;
    height: 112px;
    margin-bottom: 8px;
}