/* Top Line */
.logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.33;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    text-decoration: none;
    margin-right: 76px;
}

.header {
border-bottom: 1px solid #E7E9FC;
}

.logo-web {
    color: #4D5AE5;
}
.logo-studio {
    color: #2E2F42;
}
.logo-studio-white {
    color: #F4F4FD;
}
.menu-nav-links {
    color: #2E2F42;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-decoration: none;
    padding: 24px 0;
}

.menu-nav-links::after {
    content: "";
    display: flex;
    width: 0;
    height: 4px;
    background-color: #404BBF;
    border-radius: 2px;
}

.menu-nav-links:hover::after {
    width: 100%;
}

.menu-nav a:hover,
.menu-nav a:focus {
    color: #404BBF;
}
.contacts a {
    color: #434455;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-decoration: none;
}
.contacts a:hover ,
.contacts a:focus {
    color: #404BBF;
}

.header-container {
    display: flex;
    align-items: center;
}

.menu-nav-link {
    display: flex;
    gap: 40px;
}

.contacts-list {
    display: flex;
    gap: 40px;
}

.header-container > a {
    padding: 24px 0;
}

.contacts {
    margin-left: auto;
}