.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 999;
    background-color: rgba(46, 47, 66, 0.4);
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    /* transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1); */
}

.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 408px;
    min-height: 584px;
    background-color: #fcfcfc;
    padding: 72px 24px 24px 24px;
    border-radius: 4px;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
    overflow: auto;
}

.modal-close {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 24px;
    right: 24px;
    background-color: #E7E9FC;
    border: rgba(46, 47, 66, 0.4) solid 1px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 12px;
    fill: #2E2F42;
    width: 24px;
    height: 24px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close:hover,
.modal-close:focus {
    background-color: #404BBF;
    fill: #ffffff;
    border: none;
}

.modal-title {
    font-weight: 500;
    text-align: center;
    color: #2E2F42;
    margin-bottom: 16px;
}

.modal-label {
    display: block;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8E8F99;
    margin-bottom: 4px;
}

.modal-input {
    width: 100%;
    height: 40px;
    border: 1px solid #2E2F42;
    border-radius: 4px;
    border: #2E2F42 solid 1px;
    border-color: rgba(46, 47, 66, 0.4);
    padding: 8px 16px;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    padding-left: 38px;
    background-color: transparent;
}

.modal-input:focus,
.modal-textarea:focus {
    border-color: #4D5AE5;
    outline: none;
}

.modal-input:focus + .svg-icon {
    fill: #4D5AE5;
}

.input-svg {
    position: relative;
    margin-bottom: 8px;
}

.svg-icon {
    fill: #2E2F42;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 16px;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-textarea {
    width: 100%;
    height: 120px;
    border: 1px solid #2E2F42;
    border-radius: 4px;
    border-color: rgba(46, 47, 66, 0.4);
    padding: 8px 16px;
    margin-bottom: 16px;
    height: 120px;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-textarea::placeholder {
    color: rgba(46, 47, 66, 0.4);
}

.icon-checkbox {
    fill: #ffffff;
    opacity: 0;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.checkbox-label {
    color: #8E8F99;
    display: block;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
}

.custom-checkbox {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 16px;
    height: 16px;
    margin-right: 8px;
    border-radius: 2px;
    cursor: pointer;
    border: 1px solid rgba(46, 47, 66, 0.4);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-checkbox:checked + .checkbox-label > .custom-checkbox {
    background-color: #404BBF;
    border: none;
}

.modal-checkbox:checked + .checkbox-label .icon-checkbox {
    opacity: 1;
}

.modal-checkbox-wrapper {
    margin-bottom: 24px;
}

.modal-link {
    color: #4D5AE5;
}

.modal-button {
    display: block;
    background-color: #4D5AE5;
    width: 169px;
    color: #ffffff;
    border-radius: 4px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    cursor: pointer;
    border: none;
    padding: 16px 32px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    margin-left: auto;
    margin-right: auto;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-button:hover,
.modal-button:focus {
    background-color: #404BBF;
}