.heading {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2E2F42;
}
.portfolio-head {
    font-weight: 500;
    font-style: normal;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2E2F42;
    margin-bottom: 8px;
}

.section-portfolio {
    display: flex;
    flex-wrap: wrap;
    padding-top: 72px;
    gap: 24px;
    row-gap: 48px;
}

.portfolio-content {
    border-bottom: 1px solid #E7E9FC;
    border-right: 1px solid #E7E9FC;
    border-left: 1px solid #E7E9FC;
    padding: 32px 16px;
}

.img-portfolio {
    display: block;
    transition-property: background-color, opacity, transform;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1); 
}

.portfolio-png {
    width: calc((100% - 48px) / 3);
    transition-property: box-shadow;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    overflow: hidden;
}

.portfolio-png:hover {
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.portfolio-png:hover .img-portfolio,
.portfolio-png:focus .img-portfolio {
    background-color: #4D5AE5;
    opacity: 0;
    cursor: pointer;
}

.portfolio-png:hover .hover-text,
.portfolio-png:focus .hover-text {
    opacity: 1;
    transform: translateY(0);
}

.hover-text {
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #4D5AE5;
    color: #F4F4FD;
    box-sizing: border-box;
    padding: 40px 32px 164px;
    opacity: 0;
    transform: translateY(100%);
    transition: transform 0.25s ease-in-out;
}

.hover-png {
    position: relative;
}
