.heading {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2E2F42;
    margin-bottom: 72px;
}

.team {
    background-color: #F4F4FD;
}

.team-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 72px;
}

.team-item {
    background-color: #ffffff;
    width: 264px;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
    box-shadow: 
        0px 2px 1px 0px #2E2F4214,
        0px 1px 1px 0px #2E2F4229,
        0px 1px 6px 0px #2E2F4214;
}

.img-team {
    display: block;
    width: 100%;
    height: auto;
}

.team-wrapper-box {
    padding: 32px 16px;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
}

.team-heading {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2E2F42;
    margin-bottom: 8px;
}

.team-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    text-align: center;
}


.team-social-list {
    padding-top: 8px;
    display: flex;
    justify-content: center;
    gap: 24px;
}

.team-social-link {
    fill: #F4F4FD;
    background-color: #4D5AE5;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 40px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-social-link:hover,
.team-social-link:focus {
    background-color: #404BBF;
}

@media screen and (min-width: 768px) {
    .team-list {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        gap: 64px 24px;
    }
}

@media screen and (min-width: 1158px) {
    .team-list {
        flex-wrap: nowrap;
        gap: 24px;
    }
}